.c-footer {
  padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit;
  margin-top: $inuit-global-spacing-unit-large;
  background-color: color(sky-blue);
  color: white;
  h1 {
    margin: 0;
  }
}